header {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 200px;
  width: 100%; }

.titulo-ofertas {
  background-color: rgba(99, 17, 17, 0.2); }

.titulo-productos {
  background-color: rgba(167, 199, 23, 0.2); }

.titulo-nosotros {
  background-color: #ccdbcc;
  position: relative;
  z-index: 10; }

.titulo-contacto {
  background-color: rgba(11, 110, 128, 0.2); }

.titulo-pedidos {
  background-color: rgba(180, 20, 185, 0.2); }

.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: lighter; }

.ofertas {
  padding: 5px; }

.pagina-pedidos section, .pagina-contacto section {
  min-width: 500px;
  width: auto;
  margin: auto; }

td {
  height: 25px;
  width: 25px; }

.comment {
  text-align: start;
  font-weight: bold;
  font-size: medium; }

.comentario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.img {
  height: 200px;
  width: 200px;
  padding: 5px; }

.img:hover {
  transform: rotateY(25deg);
  transition: 2s ease; }

.nosotros {
  text-align: center;
  font-style: italic;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0.5s; }
  .nosotros p {
    text-decoration: solid;
    font-size: medium; }

@keyframes fade-in {
  0% {
    transform: translateY(-300px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.card {
  padding: 10px !important; }

.card-body {
  text-align: center !important; }

.card-img-top {
  height: 13rem !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }

.container {
  padding: 5px !important; }

.social, .red-twitter, .red-facebook, .red-instagram {
  font-size: larger; }

.red-twitter {
  color: #0ea3e9d0; }

.red-facebook {
  color: #1e1eec; }

.red-instagram {
  color: #e932dab0; }

.social, .red-twitter, .red-facebook, .red-instagram {
  font-size: larger; }

.productos {
  background-color: rgba(50, 13, 85, 0.336);
  padding: 10px; }
  .productos p {
    font-weight: bold;
    text-decoration: underline;
    height: 32px;
    width: 100%;
    margin: 32px 8px;
    text-align: center;
    font-size: 24px; }

.productos-container .card {
  width: 18rem;
  margin: auto; }
  .productos-container .card .descripcion {
    display: none !important; }

.productos-container .card:hover .descripcion {
  display: block !important; }

nav, header {
  z-index: 10;
  position: relative; }

.card-oferta {
  padding: 10px; }

.card-oferta:hover {
  background-color: rgba(196, 187, 206, 0.137); }
