@import "variables";
@import "title";

    .titulo {
        text-align: center;
        font-size: $titlefont;
        font-weight: lighter;
    }
    
    .ofertas {
        padding: 5px;
        
    }
    
        
    .pagina-pedidos,.pagina-contacto {
        section{
            min-width: 500px;
            width: auto;
            margin: auto;
        }
    }
    td {
        height: 25px;
        width: 25px;
    }
    
    .comment {
        text-align: start;
        font-weight: bold;
        font-size: medium;
    }
    .comentario{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .img {
        height: 200px;
        width: 200px;
        padding: 5px;
    }
    
    .img:hover {
        transform: rotateY(25deg);
        transition: 2s ease;
    }
    
    .nosotros {
        text-align: center;
        font-style: italic;

        animation-name: fade-in;
        animation-duration: 1s;
        animation-delay: 0.5s;

        p {
            text-decoration: solid;
            font-size: medium;
        }
    
    }
    
    @keyframes fade-in {
        0% {
            transform: translateY(-300px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    
    .card {
        padding: 10px !important;
    }
    .card-body {
        text-align: center !important;
    }

    .card-img-top {
        height: 13rem !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    
    .container {
        padding: 5px !important;
    }

    .social {
        font-size: larger;
    }

    $redes: (
        twitter: #0ea3e9d0,
        facebook: #1e1eec,
        instagram: #e932dab0,
    );
    @each $red, $color in $redes {

        .red-#{$red} {
            color: $color;
            @extend .social;
        }
    }

    .social {
        font-size: larger;
    }

    @mixin tamaño {
        height: 32px;
        width: 100%;
        margin: 32px 8px;
        text-align: center;
        font-size: 24px;
        
    }
    .productos {
        background-color: rgba(50, 13, 85, 0.336);
        padding: 10px;
        
        p {
            font-weight: bold;
            text-decoration: underline;
            @include tamaño;

        }
    }

    .productos-container{
        .card{
            width: 18rem;
            margin: auto;
            .descripcion{
                display: none !important;
            }
        }
        .card:hover{
            .descripcion{
                display: block !important;
            }
        }
    }
    
    nav,header{
        z-index: 10;
        position: relative;
    }

    .card-oferta{
        padding:10px;
    }
    .card-oferta:hover{
        background-color: rgba(196, 187, 206, 0.137);
    }