@import "variables";

header {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 500px;

        h1 {
            font-size: $titlefont;
        }

    }
