@import "variables";

header {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.titulo-ofertas {
    background-color: rgba(99, 17, 17, 0.2);
}

.titulo-productos {
    background-color: rgba(167, 199, 23, 0.2);
}

.titulo-nosotros {
    background-color: rgb(204, 219, 204);
    position: relative;
    z-index: 10;
}

.titulo-contacto {
    background-color: rgba(11, 110, 128, 0.2);
}

.titulo-pedidos {
    background-color: rgba(180, 20, 185, 0.2);
}

